<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.mybankingapp">

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyBankingApp">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".userlist"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name=".viewuser"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:label="User Details" />
        <activity android:name=".Userdata"
            android:parentActivityName=".viewuser"
            android:screenOrientation="portrait"
            android:label="User Details" />

        <activity android:name=".SendToUser"
            android:parentActivityName=".Userdata"
            android:screenOrientation="portrait"
            android:label="Transfer Money" />

        <activity android:name=".HistoryList"
            android:parentActivityName=".userlist"
            android:screenOrientation="portrait"
            android:label="Transactions" />



    </application>

</manifest>